@import '@fontsource/nobile';
@import '@fontsource/ostrich-sans';

:root {
	--font: 'Nobile', sans-serif;
	--h-font: 'Ostrich Sans', sans-serif;
	font-size: 1rem;

	--background-color: #f0f0f0;
	--accent-100: #6d7ec9;
	--accent-200: #4a568a;
	--accent-300: #434e7d;
	--accent-400: #363e63;
	--accent-500: #21263d;
}

body {
	font-family: var(--font);
	font-weight: 400;
}

h1 {
	font-family: var(--h-font);
	font-size: 10rem;
	text-align: center;
	color: var(--accent-400);
}
